/*--------------------------------------
Site - Footer
--------------------------------------*/

.site-footer {
  margin-top: 25px;
  line-height: 35px;
}

.site-footer .container {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.copyright {
  color: grey;
}

#bold {
  font-weight: 700;
  padding-left: 0;
}

.site-footer li {
  display: inline;
  float: right;
  padding: 5px;
}

.site-footer li span {
  text-transform: uppercase;
  padding-left: 50px;
  line-height: 35px;
}