/*--------------------------------------
Site - Products
--------------------------------------*/

.site-products {
  margin: 25px auto;
}

.site-products div.column {
  padding-left: 20px;
}

.moreProducts {
  height: 225px;
  position: relative;
  right: 20px;
  border: 1px solid grey;
}

.moreProducts h4 {
  margin: 25px auto;
}